* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: black;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin-bottom: 30px;
  font-family: 'manrope', sans-serif;
  color: white;
}

input {
  border: none;
  background: none;
  padding: 20px 150px;
  margin-bottom: 30px;
  border-bottom: 1px solid red;
  text-align: center;
  transition: all 0.3s ease;
}

input:hover {
  background: rgb(233, 51, 51);
  border-radius: 9px;
  font-weight: bold;
}

.area {
  padding: 20px 120px;
  margin-bottom: 10px;
  border: 1px solid red;
  background: none;
  transition: all 0.3s ease;
}

.area:hover {
  color: black;
  background: rgb(233, 51, 51);
  border-radius: 9px;
  font-weight: bold;
}

button {
  padding: 20px 213px;
  border: none;
  font-weight: bold;
  background: none;
  color: red;
  transition: all 0.3s ease;
}

button:hover {
  background: rgb(233, 51, 51);
  border-radius: 9px;
  font-weight: bold;
  color: black;
}
